@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-slider/dist/css/bootstrap-slider.css";

.site-content {
    max-width: 800px;
}
.logo {
    display: inline-block;
    text-decoration: none;
}
.logo:hover {
    text-decoration: none;
}
.cta-btn {
    position: relative;
    bottom: -45px;
}
.change-button {
    position: relative;
    bottom: -15px;
    z-index: 100;
}
input.form-control::placeholder {
    color: #ced4da;
}
.friends-zip-col{
    width: 30%;
    min-width: 125px;
}