<!DOCTYPE html>
<html>
    <head>
        <title>{{ meta_title }}</title>
        {% include 'parts/metatags.html.twig' %}
        {% include 'parts/analytics.html.twig' %}
        {% include 'parts/icons.html.twig' %}
        {% include 'parts/stylesheet.html.twig' %}
        {#{% include 'parts/adsense.html.twig' %}#}
    </head>
    <body class="bg-light">
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-K8T9X9J"
                height="0"
                width="0"
                style="display:none;visibility:hidden"
            ></iframe>
        </noscript>
        {% include 'parts/logo.html.twig' %}
        <div class="container site-content">
            {% block body %}{% endblock %}
        </div>
        {% include 'parts/footer.html.twig' %}
        {% include 'parts/javascriptis.html.twig' %}
        {% block javascript %}{% endblock %}
    </body>
</html>
