{% extends 'base.html.twig' %}

{% block body %}
    {% if messages|length > 0 %}
        <div class="alert alert-warning" role="alert">
            <h5>{{ texts.get('search_notifications_header') }}</h5>
            <ul class="mb-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="bg-white pt-4 pb-4 shadow-sm rounded text-center">
        <p class="px-4 mb-2 mt-0">
            <a href="#" id="pan_to_compromise_pub" class="h4 text-dark" data-gtm="map-pan-to-pub" rel="nofollow">
                {{ place.getName() }}<span class="pl-2">&rarr;</span>
            </a>
            <br />
            <small class="text-muted">
                <span>{{ texts.get('friends_form_label_min_rating') }}</span> <strong>{{ min_rating|number_format(2) }}</strong>,
            </small>
            <small class="text-muted">
                <span>{{ texts.get('friends_form_label_price_range') }}</span>
                <strong>{{ price_range_formatted }}</strong>
            </small>
        </p>
        {% if places|length > 1 %}
            <a
                href="#"
                id="get_next_compromise_pub"
                class="change-button btn btn-sm btn-primary d-inline-flex align-items-center"
                data-gtm="map-show-next-pub"
                rel="nofollow"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-2"
                    width="15"
                    height="15"
                    viewBox="0 0 512.422 512.422"
                >
                    <path
                        fill="currentColor"
                        d="M41.053 223.464c2.667 1.067 5.76 1.067 8.427-.213l83.307-37.867c5.333-2.56 7.573-8.96 5.013-14.293-2.453-5.12-8.533-7.467-13.76-5.12l-58.347 26.56C93.533 109.224 171.08 53.544 260.36 53.544c93.547 0 175.36 62.507 198.933 152 1.493 5.653 7.36 9.067 13.013 7.573 5.653-1.493 9.067-7.36 7.573-13.013-26.027-98.773-116.267-167.893-219.52-167.893-98.453 0-184.107 61.44-215.04 153.387l-24.533-61.333c-1.813-5.547-7.893-8.64-13.44-6.827-5.547 1.813-8.64 7.893-6.827 13.44.107.427.32.853.533 1.28l34.027 85.333c1.067 2.667 3.2 4.907 5.974 5.973zM511.773 380.904c-.107-.213-.213-.427-.213-.64l-34.027-85.333c-1.067-2.667-3.2-4.907-5.973-5.973-2.667-1.067-5.76-.96-8.427.213l-83.307 37.867c-5.44 2.24-8 8.533-5.76 13.973 2.24 5.44 8.533 8 13.973 5.76l.64-.32 58.347-26.56c-28.053 83.307-105.707 138.987-194.88 138.987-93.547 0-175.36-62.507-198.933-152-1.493-5.653-7.36-9.067-13.013-7.573-5.653 1.493-9.067 7.36-7.573 13.013 25.92 98.88 116.267 167.893 219.52 167.893 98.453 0 184-61.44 215.04-153.387l24.533 61.333c2.027 5.547 8.107 8.427 13.653 6.4 5.546-2.026 8.426-8.106 6.4-13.653z"
                    />
                </svg>
                {{ texts.get('label_get_next_compromise_pub') }}
            </a>
        {% endif %}
        <br />
        <div
            id="map"
            class="embed-responsive embed-responsive-1by1 bg-secondary"
        ></div>

        <ul class="list-inline mb-3 mt-3">
            {% for friend in friends %}
                <li class="list-inline-item">
                    <a
                        href="#"
                        id="friend_{{ friend.identifier }}"
                        class="text-muted d-inline-flex align-items-center"
                        data-gtm="map-pan-to-friend"
                        rel="nofollow"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="d-inline-block text-muted mr-1"
                            height="20"
                            width="20"
                            viewBox="0 0 426.667 426.667"
                        >
                            <path
                                fill="currentColor"
                                d="M213.333 0C130.88 0 64 66.88 64 149.333c0 112 149.333 277.333 149.333 277.333s149.333-165.333 149.333-277.333C362.667 66.88 295.787 0 213.333 0zm0 42.667C236.907 42.667 256 61.76 256 85.333 256 108.907 236.907 128 213.333 128s-42.667-19.093-42.667-42.667c.001-23.573 19.094-42.666 42.667-42.666zm0 213.333c-35.627 0-66.88-18.24-85.333-45.76.32-28.267 56.96-43.84 85.333-43.84s84.907 15.573 85.333 43.84C280.213 237.76 248.96 256 213.333 256z"
                            />
                        </svg>
                        {{ friend.name }}, {{ friend.postcode }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <a
            href="{{ path('homepage') }}?{{ params_string }}"
            class="btn btn-outline-secondary"
            data-gtm="search-change-params"
            rel="nofollow"
        >
            {{ texts.get('label_change_parameters')|raw }}
        </a>
    </div>
    {% include 'parts/banner.html.twig' %}
    <script>
        window.compromiseSettings = {
            'pubs': {
                {% for place in places %}
                {{ place.getJsId() }}: {
                    id: "{{ place.getJsId() }}",
                    title: "{{ place.getName() }}",
                    place_id: "{{ place.getPlaceId() }}",
                    location: {
                        lat: {{ place.getLat() }},
                        lng: {{ place.getLon() }}
                    },
                    {#icon: "{{ place.getIconUrl() }}",#}
                    icon: "/icons/map.png",
                    rating: "{{ place.getRating()|number_format(1) }}",
                    user_ratings_total: {{ place.getUserRatingsTotal() }},
                    price_level: "{{ place.getPriceLevelLabel() }}",
                    reviews_url: "{{ place.getReviewsUrl() }}",
                    url: "{{ place.getUrl() }}",
                    address: "{{ place.getAddress() }}",
                    directions_url: "{{ place.getDirectionsUrl() }}",
                    website: "{{ place.getWebsite() }}",
                    website_name: "{{ place.getWebsiteName() }}"
                }{% if loop.last == false %}, {% endif %}
                {% endfor %}
            },
            friends: {
                {% for friend in friends %}
                "{{ friend.identifier }}": {
                    id: "{{ friend.identifier }}",
                    name: "{{ friend.name }}",
                    postcode: "{{ friend.postcode }}",
                    location: {
                        lat: {{ friend.location.getLat() }},
                        lng: {{ friend.location.getLon() }}
                    },
                    directions_urls: {
                        {% for placeId, directionUrl in friend.directions_urls %}
                        {{ placeId }}: "{{ directionUrl }}"{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    }
                }{% if loop.last == false %}, {% endif %}
                {% endfor %}
            },
            area: {
                location: {
                    lat: {{ centroid.getLat() }},
                    lng: {{ centroid.getLon() }},
                },
                radius: {{ radius }}
            },
            pubId: "{{ place.getJsId() }}"
        };
    </script>
{% endblock %}

{% block javascript %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=compromiseMap.googleMapsCallback"
        async
        defer
    ></script>
{% endblock %}