{% extends 'base.html.twig' %}

{% block title %}Compromise Pub{% endblock %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        <h5>{{ texts.get('error_friends_header') }}</h5>
        <ul class="mb-0">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% include 'parts/friends_form.html.twig' with {
        'frieds': friends,
        'min_rating': min_rating,
        'price_range': price_range
    } %}
{% endblock %}