{% extends 'base.html.twig' %}

{% block title %}Compromise Pub{% endblock %}

{% block body %}
    <div class="intro-text mb-3">
        {{ texts.get('intro_text')|raw }}
    </div>
    {% include 'parts/friends_form.html.twig' %}
{% endblock %}
