{% extends 'base.html.twig' %}

{% block body %}
    <form
        id="locator-form"
        method="get"
        action="{{ path('locator') }}"
        data-get-results="{{ path('locator_results') }}"
        class="bg-white pt-4 pb-4 shadow-sm rounded text-center"
    >
        <div class="col-12 col-md form-group">
            <label for="min-rating" class="mr-2">
                {{ texts.get('locator_label_min_rating') }}:</span>
            </label>
            <div class="px-2">
                <input
                    id="min-rating"
                    name="min_rating"
                    class="form-control"
                    type="number"
                    value="{{ input.min_rating|default(4) }}"
                    min="0"
                    max="5"
                    step="0.1"
                />
            </div>
        </div>
        <div class="col-12 col-md form-group">
            <label for="min-user-ratings-total" class="mr-2">
                {{ texts.get('locator_label_min_user_ratings_total') }}:
            </label>
            <div class="px-2">
                <input
                    id="min-user-ratings-total"
                    name="min_user_ratings_total"
                    class="form-control"
                    type="number"
                    value="{{ input.min_user_ratings_total|default(10) }}"
                    min="0"
                    max="500"
                    step="20"
                />
            </div>
        </div>
        <div class="col-12 col-md form-group">
            <label for="radius" class="mr-2">
                {{ texts.get('locator_label_radius') }}:
            </label>
            <div class="px-2">
                <input
                    id="radius"
                    name="radius"
                    class="form-control"
                    type="number"
                    value="{{ input.radius|default(100) }}"
                    min="{{ radius_limits.min }}"
                    max="{{ radius_limits.max }}"
                    step="50"
                />
            </div>
        </div>
    </form>
    <div
        id="map"
        class="embed-responsive embed-responsive-1by1 bg-secondary"
    ></div>
    <ol id="results-list"></ol>
    <script>
        window.compromiseLocatorInput = {
            lat: {{ input.lat }},
            lon: {{ input.lon }}
        };
        window.compromiseLocatorDefaultLocation = {{ input.default_location ? 'true' : 'false' }};
    </script>
{% endblock %}

{% block javascript %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=compromiseLocator.googleMapsCallback"
        async
        defer
    ></script>
{% endblock %}