{% extends 'base.html.twig' %}

{% block title %}Compromise Pub{% endblock %}

{% block body %}
    <dl>
        {% for id, text in texts_list %}
            <dt>{{ id }}</dt>
            <dd>
                {% if text is iterable %}
                    <ul>
                        {% for line in text %}
                        <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ text|raw }}
                {% endif %}
            </dd>
        {% endfor %}
    </dl>
{% endblock %}
