<footer class="container site-content my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">{{ texts.get('footer_note')|raw }}</p>
    <p class="mb-1">{{ texts.get('copyright', {'year': 'now'|date('Y') })|raw }}</p>
</footer>