{% set max_freinds = 8 %}
{% set friends_count = 2 %}

{% if friends is defined %}
    {% set friends_count = max(friends|length, 2) %}
{% endif %}

<div class="bg-white pt-4 pb-4 shadow-sm rounded">
    <form class="px-4" method="get" action="{{ path('get_compromise_pub') }}" data-gtm="search-form">
        <input type="hidden" id="friends-count" value="{{ friends_count }}" />
        <div class="row">
            <div class="col-12 col-md form-group">
                <label for="min-rating" class="mr-2">
                    {{ texts.get('friends_form_label_min_rating') }} <span style="display: none;" id="min-rating-label">{{ min_rating|default(4) }}</span>
                </label>
                <div class="px-2">
                    <input
                        id="min-rating"
                        name="min_rating"
                        class="form-control"
                        type="text"
                        data-slider-id="min-rating-slider"
                        data-slider-min="0"
                        data-slider-max="5"
                        data-slider-step="0.1"
                        data-slider-value="{{ min_rating|default(4) }}"
                        data-slider-ticks="[0, 1, 2, 3, 4, 5]"
                        data-slider-ticks-labels="[0, 1, 2, 3, 4, 5]"
                    />
                </div>
            </div>
            <div class="col-12 col-md form-group">
                <label for="price-range" class="mr-2">
                    {{ texts.get('friends_form_label_price_range') }}
                </label>
                <div class="px-2">
                    <input
                        id="price-range"
                        name="price_range"
                        type="text"
                        value=""
                        class="form-control"
                        data-slider-min="0"
                        data-slider-max="3"
                        data-slider-step="1"
                        data-slider-value="[{{ price_range[0]|default(0) }}, {{ price_range[1]|default(2) }}]"
                        data-slider-ticks="[0, 1, 2, 3, 4]"
                        data-slider-ticks-labels='["", "£", "££", "£££", "££££" ]'
                    />
                </div>
            </div>
        </div>
        <p class="mb-2">{{ texts.get('friends_form_label_friends') }}</p>
        {% for i in 1..max_freinds %}
            <div
                class="row form-group friend-container align-items-center"
                data-id="{{ i }}"
                {% if i > friends_count %} style="display: none;"{% endif %}
            >
                {% set friend_key = i - 1 %}
                <div class="col">
                    <input
                        type="text"
                        class="form-control friends-name"
                        placeholder=""
                        name="names[]"
                        value="{% if friends[friend_key] is defined %}{{ friends[friend_key].name }}{% endif %}"
                    />
                </div>
                <div class="friends-zip-col col-auto">
                    <input
                        type="text"
                        class="form-control friends-postcode"
                        name="postcodes[]"
                        data-autocomplete-url="{{ path('autocomplete_postcode', {'postcode': 'query'}) }}"
                        value="{% if friends[friend_key] is defined %}{{ friends[friend_key].postcode }}{% endif %}"
                    />
                </div>
                <div class="col-auto pl-0">
                    <a href="#" class="close remove-friend" data-gtm="search-delete-friend" title="{{ texts.get('friends_form_label_remove_friend') }}" rel="nofollow"><span aria-hidden="true">×</span></a>
                </div>
            </div>
        {% endfor %}
        <a
            href="#"
            id="add-friend"
            class="btn btn-outline-primary btn-sm d-inline-flex align-items-center"
            data-gtm="search-add-friend"
            rel="nofollow"
            {% if friends_count >= max_freinds %} style="display: none;"{% endif %}
        >
            <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 561 561">
                <path fill="currentColor" d="M357 280.5c56.1 0 102-45.9 102-102s-45.9-102-102-102-102 45.9-102 102 45.9 102 102 102zm-229.5-51V153h-51v76.5H0v51h76.5V357h51v-76.5H204v-51h-76.5zm229.5 102c-68.85 0-204 33.15-204 102v51h408v-51c0-68.85-135.15-102-204-102z"/>
            </svg>
            {{ texts.get('friends_form_label_add') }}
        </a>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg cta-btn">
                {{ texts.get('friends_form_button_search') }}
            </button>
        </div>
    </form>
</div>

{% include 'parts/banner.html.twig' %}