<header class="container site-content py-3 py-md-4 mb-md-3 text-center">
    <a
        class="logo d-md-inline-block d-inline-flex align-items-center"
        href="{{ path('homepage') }}"
        data-gtm="common-logo"
    >
        <svg
            class="d-block mx-auto mb-2"
            xmlns="http://www.w3.org/2000/svg"
            height="40"
            viewBox="-46 0 512 512"
            width="40"
            focusable="false"
        >
            <title>{{ texts.get('logo_title') }}</title>
            <path
                d="M240 121c-16.54 0-30 13.46-30 30h-30v-15c0-8.277-6.723-15-15-15s-15 6.723-15 15v15h-15c-8.277 0-15 6.723-15 15s6.723 15 15 15h105c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M150 316c0 8.277 6.723 15 15 15h60c8.277 0 15-6.723 15-15V211h-90zm0 0"
                fill="#006DF0"
            />
            <path
                d="M210 0C94.203 0 0 95.203 0 211c0 53.586 20.188 104.59 56.953 143.79L210 512l153.18-157.344C399.812 315.59 420 264.586 420 211 420 95.203 325.797 0 210 0zm60 331h-2.762c-6.215 17.422-22.707 30-42.238 30h-60c-24.813 0-45-20.188-45-45V208.238c-17.422-6.215-30-22.707-30-42.238 0-20.273 13.477-37.457 31.934-43.066C127.543 104.477 144.727 91 165 91c13.738 0 26.059 6.195 34.32 15.922C210.027 97.05 224.324 91 240 91c33.09 0 60 26.91 60 60 0 22.113-12.152 41.25-30 51.656V211c33.09 0 60 26.91 60 60s-26.91 60-60 60zm0 0"
                fill="#006DF0"
            />
            <path
                d="M270 241v60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0"
                fill="#006DF0"
            />
        </svg>
        <span class="h4 pl-md-2 pl-2">{{ texts.get('logo_title') }}</span>
        <span class="d-md-block text-muted d-none">{{ texts.get('logo_motto') }}</span>
    </a>
</header>