{% set url = absolute_url(path('homepage'))%}
{% if app.request.attributes.get("_route") != 'homepage' %}
<link rel="canonical" href="{{ url }}">
{% endif %}
<meta charset="UTF-8">
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="description" content="{{ texts.get('meta_description') }}"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ url }}"/>
<meta property="og:site_name" content="{{ texts.get('meta_og_site_name') }}" />
<meta property="og:image" itemprop="image primaryImageOfPage" content="{{ absolute_url(asset('/img/cheers.png')) }}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:domain" content="{{ app.request.getHost() }}"/>
<meta name="twitter:title" property="og:title" itemprop="name" content="{{ texts.get('meta_twitter_title') }}" />
<meta name="twitter:description" property="og:description" itemprop="description" content="{{ texts.get('meta_twitter_description') }}" />
